<% include ../../partials/admin/header.ejs %>
    <div class="container">
        <div class="card mt-5 mx-auto">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">
                    <h3>Courses</h3>   
                </div>
                <div>
                    <a href="/courses/add" class="btn bg-color-pr text-white me-auto">Add New</a>
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Course name</th>
                                <th scope="col" style="width:300px;">Description</th>
                                <th scope="col">Fees</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% if (data.length){ for(var i=0; i < data.length; i++) { %>
                                <tr scope="row">
                                    <td style="width:70px">
                                        <%= data[i].courseId %>
                                    </td>
                                    <td>
                                        <%= data[i].courseName %>
                                    </td>
                                    <td>
                                        <%= data[i].descriptions %>
                                    </td>
                                    <td>
                                        <%= data[i].fees %>
                                    </td>

                                    <td>
                                        <ul class="list-inline mb-0 d-flex">
                                            <li class="list-inline-item "><a class="f-s-20px"
                                                    href="/courses/view/<%= data[i].courseId%>"><i class="fa-solid fa-eye"></i></a></li>
                                            <li class="list-inline-item "> <a class="f-s-20px"
                                                    href="/courses/update/<%= data[i].courseId%>"><i class="fa-solid fa-pen"></i></a></li>
                                            <li class="list-inline-item "> <a class="f-s-20px"
                                                    href="/courses/delete/<%= data[i].courseId%>"><i
                                                        class="fa-solid fa-trash-can"></i></a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <% } }else{ %>
                                    <tr>
                                        <td colspan="3">courses not added</td>
                                    </tr>
                                    <% } %>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </div>
    <% include ../../partials/admin/footer.ejs %>